@import "tailwindcss";

@layer components {
  .card {
    @apply p-6 bg-gradient-to-br from-[#111]/80 to-[#0d0d0d]/80 rounded-2xl border border-white/10 
           hover:border-white/20 shadow-lg hover:shadow-2xl backdrop-blur-sm relative 
           transition-[background,border-color,box-shadow,opacity] duration-400 md:overflow-hidden overflow-y-auto;
  }

  .section-title {
    @apply text-lg font-semibold flex items-center gap-2 text-white/90 mb-3;
  }

  .gradient-btn {
    @apply px-4 py-2 bg-gradient-to-r from-violet-500 to-cyan-500 text-white text-xs font-semibold rounded-lg
           hover:shadow-lg hover:shadow-violet-500/50 transition-shadow duration-300 transform 
           translate-y-2 group-hover:translate-y-0 flex items-center gap-2 cursor-pointer;
  }

  .hover-item {
    @apply hover:text-white transition-colors duration-300;
  }

  .bullet {
    @apply w-1.5 h-1.5 rounded-full flex-shrink-0 transition-colors duration-300;
  }

  .soft-card {
    @apply p-3 rounded-lg bg-white/[0.02] hover:bg-white/[0.05] border border-transparent hover:border-white/10
           transition-[background,border-color,opacity] duration-300;
  }

  .stats-box {
    @apply p-3 rounded-lg bg-white/5 hover:bg-white/10 transition-[background,opacity,transform] duration-300 border border-white/5;
  }

  .main-grid {
    @apply w-full max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-[100px];
  }

  .card-violet {
    @apply hover:border-violet-500 border-2 hover:shadow-[0_0_25px_rgba(139,92,246,1)];
  }

  .card-cyan {
    @apply hover:border-cyan-400 border-2  hover:shadow-[0_0_25px_rgba(34,211,238,1)];
  }

  .card-green {
    @apply hover:border-green-400 border-2  hover:shadow-[0_0_25px_rgba(34,197,94,1)];
  }

  .card-yellow {
    @apply hover:border-yellow-400 border-2  hover:shadow-[0_0_25px_rgba(250,204,21,1)];
  }

  .card-blue {
    @apply hover:border-blue-400 border-2  hover:shadow-[0_0_25px_rgba(59,130,246,1)];
  }

  .card-orange {
    @apply hover:border-orange-400 border-2  hover:shadow-[0_0_25px_rgba(249,115,22,1)];
  }
}
